<main>
    <section>
        <div class="p-1 p-3">
            {{#with navigation}}
            <div class="card">
            <div class="nav">
             {{#each links}}
             <a href="{{href}}" class="nav-link {{#unless href}} disabled {{/unless}}">{{text}}</a>
             {{/each}}
            </div>
            </div>
            {{/with}}
        </div>
    </section>

    <section>
        <div>
     <div class="p-4">
        <h1>{{header}}</h1>
        <div class="pt-5">
            {{#with contacts_data}}
             <h3>{{title}}</h3>
             <div class="pb-3">
                {{#each buttons}}
                <button class="btn {{#if isPrimary}}btn-primary{{/if}} {{#if isOutline}}btn-outline-primary{{/if}}">{{text}}</button>
                {{/each}}
             </div>

             <div>{{#with form}}
                   <div class="row">
                    <div class="col-8">
                    {{#with input}}
                         <div class="col-6">
                              {{#with surname}}
                               <label class="form-label">{{label}}</label>
                               <div><input class="form-control" placeholder="{{placeholder}}"></div>
                               <div class="form-text">{{caption}}</div>
                              {{/with}}
                         </div>
                         <div class="col-6">
                              {{#with name}}
                                <label class="form-label">{{label}}</label>
                                <div><input class="form-control" placeholder="{{placeholder}}"></div>
                                <div class="form-text">{{caption}}</div>
                               {{/with}}
                         </div>
                         <div class="col-6">
                              {{#with phone}}
                                <label class="form-label">{{label}}</label>
                                <div><input class="form-control" placeholder="{{placeholder}}"></div>
                                <div class="form-text">{{caption}}</div>
                               {{/with}}
                         </div>
                         <div class="col-6">
                              {{#with email}}
                                <label class="form-label">{{label}}</label>
                                <div><input class="form-control" placeholder="{{placeholder}}"></div>
                                <div class="form-text">{{caption}}</div>
                               {{/with}}
                         </div>
                        {{/with}}
                   
                   <hr>
                   
                   <div>{{#each switch}}
                    <div class="form-check form-switch">
                        <label class="form-check-label">{{text}}</label>
                        <input {{#if isActive}}checked{{/if}} type="checkbox" class="form-check-input">
                    </div>
                {{/each}}
             </div>
             <hr>
             {{/with}}
             </div>
          {{/with}}
        </div>
      </div>
     </div>
    </div></section>


    <div class="col-4">
    <section class="card">
        {{#each action_block}}
        <div class="p-2">
          <button class="btn {{#if isSuccess}}btn-success{{/if}}
          {{#if isDanger}}btn-danger{{/if}}
          {{#if isInfo}}btn-info{{/if}}">{{text}}</button>
        </div>
        {{/each}}
    </section></div></div>
</main>