   <main>
    <div class="row g-5">
        <section class="text-center">
            {{#with navigation}}
            {{#each links}}
            <a href="{{href}}">{{text}}</a>
            {{/each}}
            <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
            {{/with}}
        </section>
        <hr>
        <section>
            {{#with header}}
            <h1>{{title}}</h1><br>
            <p>{{description}}</p><br>
            {{#with button}}
            <a href="{{link}}" class="btn btn-primary">{{text}}</a><br>
            {{/with}}
            {{/with}}
        </section>
        <hr>
        <br>

        <section>
        {{#with city}}
            <h2>{{title}}</h2>
            <div class="row g-3">
                {{#each cards}}
                <div class="card col-5">
                    <img src="{{picture.src}}" alt="picture.alt">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p>{{description}}</p>
                        <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <br>

     <section>
      {{#with winner}}
       <h2>{{title}}</h2>
        <table class="table">
         {{#with table}}
          <thead>
           <tr>
            <th>#</th>
            <th>name</th>
            <th>surname</th>
            <th>nickname</th>
            </tr>
            </thead>
            <tbody>
            {{#each user}}
            <tr>
                <th>{{place}}</th> 
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{nickname}}</td>
            </tr>
          {{/each}}
          </tbody>
        {{/with}}
        </table>
      {{/with}}
     </section>
    <hr>
    <br>

    <section>
     {{#with gallery}}
     <h2>{{gallery}}</h2>
     <div class="row">
     {{#each cards}}
     <div class="card col-4">
        <div class="card-header">{{name}}</div>
        <ul class="list-group">
            <li class="list-group-item">{{items.[0]}}</li>
            <li class="list-group-item">{{items.[1]}}</li>
            <li class="list-group-item">{{items.[2]}}</li>
        </ul>
     </div>
     {{/each}}
     </div>
     {{/with}}
    </section>
    <hr>
    <br>

    <section>
        {{#with relaxion}}
        <div class="display-3">{{title}}</div>
        <div class="row g-3">
        {{#each cards}}
        <div class="card col-6 text-bg-secondary">
        <div class="card-header text-center">{{header}}</div>
        <div class="card-body">
        <h3 class="card-title text-center">{{title}}</h3>
        <div class="text-center">{{description}}</div>
        </div>
        </div>
        {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <br>

    <section>
        {{#with rest}}
        <div class="row">
            {{#each cards}}
            <div class="card col-6">
                <div class="card-header text-center text-bg-light">{{header}}</div>
                <div class="card-body text-center">
                <b><div class="card-title ">{{title}}</div></b>
                <div class="">{{description}}</div><br>
                <button class=" btn btn-primary">{{button}}</button>
                </div>
                <div class="card-footer text-center">{{footer}}</div>
             </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <br>

    <section>
        {{#with proposition}}
        <h2 class="display-2">{{title}}</h2><br>
        <div class="row">
            {{#each card}}
            <div class="card col-6 text-bg-warning">
                <div class="card-header text-center">{{header}}</div>
                <div class="card-body text-center">
                <b><div class="card-title ">{{title}}</div></b>
                {{ description}}
            </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <br>

    <section>
        {{#with footer}}
        <h5>{{title}}</h5><br>
        <div class="row">
            {{#each navigation}}
            <div class="col-4">
                <a href="{{href}}" class="btn btn-link">{{text}}</a>
            </div>
            {{/each}}
            {{#each socialMedia}}
            <div class="col-4">
                <a href="{{link}}" class="btn btn-outline-dark">{{name}}</a>
            </div>
            {{/each}}
            {{#each partners}}
            <div class="col-4">
                <a href="{{link}}" class="btn btn-outline-info">{{name}}</a>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>



  </main>