<section>
 <div class="card">
   {{#each itemList}}
    <div class="card ">
        <div class="row m-3">
        <div class="col-2 m-3">{{number}}
        <div class="mt-3"><b>{{status}}</b></div></div>
        
        <div class="col-2 ms-5">
         {{#with amount}}
        <div class="m-3">{{title}}:
        <div>{{value}}</div>
       </div>
     {{/with}}
     </div>

     <div class="col-4 ms-5">
        {{#each images}}
        <img src="{{this}}">
        {{/each}}
     </div>

     <div class="col-2 ms-5 mt-4">
        {{#with button}}
        <button href="{{link}}" class="{{#if isPrimary}}btn btn-primary{{/if}}">{{text}}</button>
        {{/with}}
     </div>
      
     
    </div>
   </div>
 {{/each}}
 </div>
</section>